<%= form_for(@profolio) do |f| %>
  <% if @profolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profolio.errors.count, "error") %> prohibited this profolio from being saved:</h2>

      <ul>
      <% @profolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :stocks %><br>
    <%= f.text_field :stocks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
